@font-face {
    font-family: "Dana-Bold";
    src: url(https://cdn.jsdelivr.net/gh/MamadjavadAlizade/UserAlert@master/fonts/Dana-Bold.woff2);
}
@font-face {
    font-family: "Dana-DemiBold";
    src: url(https://cdn.jsdelivr.net/gh/MamadjavadAlizade/UserAlert@master/fonts/Dana-DemiBold.woff2);
}
@font-face {
    font-family: "Dana-Medium";
    src: url(https://cdn.jsdelivr.net/gh/MamadjavadAlizade/UserAlert@master/fonts/Dana-Medium.woff2);
}

:root{
    --userAlert__dark: #121212;
    --userAlert__bg-color: #f0f0f0;
    --userAlert__box-bg-color: #fff;
    --userAlert__box-footer-bg-color: #f7f7f7;
    --userAlert__defult-text-color: #666;
    --userAlert__box-footer-text-color: #888;
    --userAlert__radius: 15px;
    --userAlert__radius-btn: 10px;
    --userAlert__btn-bg-color: #f9f9f9;
    --userAlert__btn-border-color: #e2e2e2;
}

#userAlert__Wrapper *{
    font-family: "Dana-medium";
}
#userAlert__Wrapper {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userAlert__main{
    width: 330px;
    border-radius: var(--userAlert__radius);
    background-color: var(--userAlert__box-bg-color);
    box-shadow: 0px 0px 5px #00000017;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.userAlert__main.userAlert__main_show {
    opacity: 1;
    transform: translateY(0);
}
.userAlert__header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userAlert__header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.userAlert__header svg, .userAlert__header i{
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    font-size: 24px;
}
.userAlert__title{
    color: var(--userAlert__dark);
    font-family: "Dana-bold";
}
.userAlert__header_button_box{
    padding-right: 10px;
}
.userAlert__header_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.userAlert__body{
    display: none;
    font-size: 14px;
    padding: 0 20px 10px 45px;
    color: var(--userAlert__defult-text-color);
}
.userAlert__body p{
    margin: 0;
}
.userAlert__body_button_box{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.userAlert__body_button{
    padding: 7px 10px;
    border-radius: var(--userAlert__radius-btn);
    border: 1px solid var(--userAlert__btn-border-color);
    background-color: var(--userAlert__btn-bg-color);
    font-family: "dana-demibold";
    cursor: pointer;
}
.userAlert__footer{
    overflow: auto;
    border-radius: 0 0 var(--userAlert__radius) var(--userAlert__radius);
    background-color: var(--userAlert__box-footer-bg-color) !important;
}
.userAlert__footer_textbox{
    font-size: 12px;
    padding: 4px 10px;
    color: var(--userAlert__box-footer-text-color);
}
.userAlert__footer_timer{
    font-family: "dana-bold";
    color: var(--userAlert__defult-text-color);
}
.userAlert__footer_close{
    font-family: "dana-bold";
    color: var(--userAlert__defult-text-color);
    cursor: pointer;
    color: var(--userAlert__dark);
    &:hover{
        text-decoration: underline;
    }
}
.userAlert__header_button_close:hover{
    transform: rotate(90deg);
}
.userAlert__footer_timeline{
    width: 100%;
    height: 4px;
    background-color: var(--userAlert__success);
}
@keyframes userAlert__timeline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}