@font-face {
    font-family: "Dana-Bold";
    src: url(../../public/fonts/Dana-Bold.woff2);
}
@font-face {
    font-family: "Dana-DemiBold";
    src: url(../../public/fonts/Dana-DemiBold.woff2);
}
@font-face {
    font-family: "Dana-Medium";
    src: url(../../public/fonts/Dana-Medium.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dana-medium";
}
:root{
    --dark: #121212;
    --success: #37bc75;
    --info: #30afd5;
    --warning: #eda32b;
    --error: #ed2b2b;
    --bg-color: #f0f0f0;
    --box-bg-color: #fff;
    --box-footer-bg-color: #f7f7f7;
    --defult-text-color: #666;
    --box-footer-text-color: #888;
    --radius: 15px;
    --radius-btn: 10px;
    --btn-bg-color: #f9f9f9;
    --btn-border-color: #e2e2e2;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--defult-text-color);
}
#userAlertsWrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userAlert__main{
    width: 330px;
    border-radius: var(--radius);
    background-color: var(--box-bg-color);
    box-shadow: 0px 0px 5px #00000017;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.userAlert__main.userAlert__main_show {
    opacity: 1;
    transform: translateY(0);
}
.userAlert__header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userAlert__header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.userAlert__title{
    color: var(--dark);
    font-family: "Dana-bold";
}
.userAlert__header_button_box{
    padding-right: 10px;
}
.userAlert__header_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.userAlert__body{
    display: none;
    font-size: 14px;
    padding: 0 20px 10px 45px;
}
.userAlert__body_button_box{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.userAlert__body_button{
    padding: 7px 10px;
    border-radius: var(--radius-btn);
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    font-family: "dana-demibold";
    cursor: pointer;
}
.userAlert__footer{
    overflow: auto;
    border-radius: 0 0 var(--radius) var(--radius);
    background-color: var(--box-footer-bg-color) !important;
}
.userAlert__footer_textbox{
    font-size: 12px;
    padding: 4px 10px;
    color: var(--box-footer-text-color);
}
.userAlert__footer_timer{
    font-family: "dana-bold";
    color: var(--defult-text-color);
}
.userAlert__footer_close{
    font-family: "dana-bold";
    color: var(--defult-text-color);
    cursor: pointer;
    color: var(--dark);
    &:hover{
        text-decoration: underline;
    }
}
.userAlert__header_button_close:hover{
    transform: rotate(90deg);
}
.userAlert__footer_timeline{
    width: 100%;
    height: 4px;
    background-color: var(--success);
}
@keyframes userAlert__timeline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}